@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;400;700&family=Raleway:wght@200;400;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;

  scrollbar-color: #1bb385 #3a4455;
  scrollbar-width: thin;
  transition: all 0.2s ease-in-out;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width:75em){
    font-size: 50%;
  }
}
body{
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  background-color: #2c3644;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3a4455;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1bb385;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007d53;
}
