@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Poppins:wght@200;400;700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

span {
  font-family: "Raleway", sans-serif;
}
